extends layout

block content
  .container
    section.jumbotron.text-center
      .container.home_boxes.col-sm-6
        h2.jumbotron-heading New User
        p.lead.text-muted
          | New to Task Manager??, then please join us and take control over your tasks.
        p
          a.btn.btn-primary.btnRegister(href=`#` type='button' data-toggle="modal" data-target="#myModalRegister") Register
      .container.col-sm-6
        h2.jumbotron-heading Registered User
        p.lead.text-muted
          | Hello!, please Log In to continue with your Task Manager.
        p
          a.btn.btn-default.btnLogIn(href=`#` type='button' data-toggle="modal" data-target="#myModalLogIn") Log In
      hr

  //- modal Register
  #myModalRegister.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') &times;
            |  
            span.sr-only Close
          h4#myModalLabel.modal-title  User Register
        .modal-body
          form.form-horizontal(role='form', action='/register', method='post')
            .form-group
              label.col-sm-2.control-label(for='inputName') Username 
              .col-sm-10
                input#inputName.form-control(type='text', placeholder='Username', name='username')
            .form-group
              label.col-sm-2.control-label(for='email') Email 
              .col-sm-10
                input#email.form-control(type='email', placeholder='email', name='email')
            .form-group
              label.col-sm-2.control-label(for='inputPassword3') Password
              .col-sm-10
                input#inputPassword3.form-control(type='password', placeholder='Password', name='password')              
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type='submit') Save
          hr
        .modal-footer
          
  //- modal Log In
  #myModalLogIn.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') &times;
            |  
            span.sr-only Close
          h4#myModalLabel.modal-title  Log In
        .modal-body
          form.form-horizontal(role='form', action='/login', method='post')
            .form-group
              label.col-sm-2.control-label(for='inputName') Username 
              .col-sm-10
                input#inputName.form-control(type='text', placeholder='Username', name='username')
            .form-group
              label.col-sm-2.control-label(for='inputPassword3') Password
              .col-sm-10
                input#inputPassword3.form-control(type='password', placeholder='Password', name='password')
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type='submit') Sign in
          hr  
        .modal-footer
          
